# Environment
.env
.venv/

# Python
__pycache__/
*.pyc
*.pyo
.eggs/
*.egg-info/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
docker-compose.override.yml

# Celery
celerybeat-schedule
celerybeat-schedule.db
